@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFilePawService PawService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel
@{
}
<div class="content">
    <div class="card my-5">
        <div class="card-header">
            <h5 class="card-text"> Update Information </h5>
        </div>
        <form method="post">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @Html.HiddenFor(p => p.Paw.Id)

                <h5 class="card-text">Paw Information</h5>
                <label asp-for="Paw.Paw.Name" class="form-label"> Name </label>
                <input asp-for="Paw.Paw.Name" type="text" class="form-control-sm" id="name"> <br />
                <label asp-for="Paw.Paw.Breed" class="form-label"> Breed </label>
                <input asp-for="Paw.Paw.Breed" type="text" class="form-control-sm" id="breed"> <br />
                <label asp-for="Paw.Paw.Gender" class="form-label"> Gender </label> <br />
                <div class="form-check">
                    <input class="form-check-input" asp-for="Paw.Paw.Gender" type="radio" value="Male" id="male">
                    <label class="form-check-label" for="male">
                        Male 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Paw.Paw.Gender" type="radio" value="Female" id="female">
                    <label class="form-check-label" for="female">
                        Female
                    </label>
                </div> 
                <label asp-for="Paw.Paw.Age" class="form-label"> Age </label>
                <input asp-for="Paw.Paw.Age" type="text" class="form-control-sm" id="age"> <br />
                <label asp-for="Paw.Paw.Size" class="form-label"> Size </label>
                <input asp-for="Paw.Paw.Size" type="text" class="form-control-sm" id="size"> <br />
                <label asp-for="Paw.Paw.Description" class="form-label"> Description </label>
                <textarea asp-for="Paw.Paw.Description" class="form-control" id="description"></textarea> <br />
                <label for="image" class="form-label"> Image </label>
                <input class="form-control" type="file" id="image">  <br />

                <h5 class="card-text">Owner Information</h5>
                <label asp-for="Paw.Owner.Name" class="form-label"> Name </label>
                <input asp-for="Paw.Owner.Name" type="text" class="form-control-sm" id="name"> <br />
                <label asp-for="Paw.Owner.Address" class="form-label"> Address </label>
                <textarea asp-for="Paw.Owner.Address" class="form-control" id="address"></textarea> <br />
                <label asp-for="Paw.Owner.City" class="form-label"> City </label>
                <input asp-for="Paw.Owner.City" type="text" class="form-control-sm" id="city"> <br />
                <label asp-for="Paw.Owner.Zipcode" for="onwer_zipcode" class="form-label"> Zipcode </label>
                <input asp-for="Paw.Owner.Zipcode" type="text" class="form-control-sm" id="zipcode"> <br />
                <label asp-for="Paw.Owner.Email" for="onwer_email" class="form-label"> Email </label>
                <input asp-for="Paw.Owner.Email" type="email" class="form-control-sm" id="email"> <br />
                <label asp-for="Paw.Owner.Phone" for="onwer_email" class="form-label"> Phone </label>
                <input asp-for="Paw.Owner.Phone" type="text" class="form-control-sm" id="email"> <br />
            </div>
            <div class="card-footer">
                <input type="submt" class="btn btn-primary" value="Submit"/>
            </div>
        </form>
    </div>
</div>